.App{
  width:100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
  align-items: center;
  background-color: rgb(228, 219, 208);
}

.unscrabble{
  font-size: 3rem;
  color:#b27ce6;
}