@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@500&family=Montserrat:wght@500;700;800&family=Urbanist&display=swap');

body {
  margin: 0;
  /* font-family: 'Urbanist', sans-serif; */
  font-family: 'Bricolage Grotesque', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: rgb(228, 219, 208);
  overflow-x: hidden;
}
